<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Top Navbar Support Include  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSPro PowerDesk</title>
    <!-- Icons -->
    <link rel="icon" href="../../static/images/logoSundaya300x.png">
    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="../../static/css/custom.css" rel="stylesheet">
    <!-- fontawesome material -->
    <link href="../../static/css/font-awesome/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="body-overlay"></div>

        <!-- Sidebar Include  -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h3>
                    <img src="../../static/images/logoSundaya300x.png" class="img-fluid" /><span>Sundaya</span>
                </h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="index.html" class="dashboard">
                        <i class="material-icons fas fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
        
                <li class="dropdown">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons fas fa-tachometer-alt"></i>
                        <span>Monitoring</span></a>
                        <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li>
                            <a href="scc.html">Solar Charge Controller</a>
                        </li>
                        <li>
                            <a href="battery.html">Battery</a>
                        </li>
                        <li>
                            <a href="load.html">Load</a>
                        </li>
                    </ul>
                </li>
        
                <li class="dropdown">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons fas fa-clock-rotate-left"></i>
                        <span>History</span></a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu2">
                        <li>
                            <a href="datalog.html">Data Log</a>
                        </li>
                        <li>
                            <a href="scc-alarm.html">SCC Alarm</a>
                        </li>
                    </ul>
                </li>
        
                <li class="">
                    <a href="#"><i class="material-icons fas fa-info-circle"></i><span>Site Information</span></a>
                </li>
                
                <li class="dropdown">
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons fas fa-gears"></i>
                        <span>Setting</span></a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu3">
                        <li>
                            <a href="setting-device.html">Setting Device</a>
                        </li>
                        <li>
                            <a href="setting-scc.html">Setting SCC</a>
                        </li>
                        <li>
                            <a href="config-value-scc.html">Config Value SCC</a>
                        </li>
                        <li>
                            <a href="redis.html">Redis</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons fas fa-gavel"></i>
                        <span>Technical</span></a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu4">
                        <li>
                            <a href="#">Check EHUB</a>
                        </li>
                        <li>
                            <a href="#">Check Service</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="active">
            <!-- Top Navbar Content -->
            <div class="top-navbar">
                <!-- Top navbar -->
                <nav class="navbar navbar-expand-lg" aria-label="Main Navigation">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                            <span class="material-icons"><i class="fas fa-bars"></i></span>
                        </button>

                        <b> Site Name | 192.168.100.234</b>

                        <button class="d-inline-block d-lg-none ml-auto more-button" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-icons"><i class="fas fa-ellipsis-v"></i></span>
                        </button>

                        <!-- Top Navbar Support Include  -->
                        <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <div class="nav-link" id="datetime-bar"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Breadcrumbs  -->
                <div>
                    <div class="card card-stats page-nav-location">
                        <div class="card-header">
                            <p class="category"><strong>Setting Device</strong></p>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>JSPro PowerDesk</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <!-- Top Main Content Include  -->
                
                <!-- content row -->
                <div class="row">
                    <!--Site Location -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header card-header-text titel-border">
                                <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Site Location</h4>
                            </div>
                            <form method="POST">
                                <div class="card-content">
                                    <div class="row mb-3">
                                        <label for="site-id" class="col-sm-4 col-form-label">Site ID</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="site-id" placeholder="Site ID">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="site-name" class="col-sm-4 col-form-label">Site Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="site-name" placeholder="Site Name">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="address" class="col-sm-4 col-form-label">Address</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control" id="address" placeholder="Address"></textarea>
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="ip-address-primary" class="col-sm-4 col-form-label">IP Address Primary</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="ip-address-primary" placeholder="IP Address Primary">
                                        </div>
                                    </div>
    
                                    <div class="row mb-3">
                                        <label for="ip-address-secondary" class="col-sm-4 col-form-label">IP Address Secondary</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="ip-address-secondary" placeholder="IP Address Secondary">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="net-mask" class="col-sm-4 col-form-label">Net Mask</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="net-mask" placeholder="contoh: /24 atau /29">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="gateway" class="col-sm-4 col-form-label">Gateway</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="gateway" placeholder="Gateway">
                                        </div>
                                    </div>
                                    <!-- button -->
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <!--Device Info -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header card-header-text titel-border">
                                <h4 class="card-title"><i class="fas fa-info-circle"></i> Device Info</h4>
                            </div>
                            <form method="POST">
                                <div class="card-content">
                                    <div class="row mb-3">
                                        <label for="model" class="col-sm-4 col-form-label">Model</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="model" placeholder="Model">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="part-number" class="col-sm-4 col-form-label">Part Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="part-number" placeholder="Part Number">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="serial-number" class="col-sm-4 col-form-label">Serial Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="serial-number" placeholder="Serial Number">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="software-version" class="col-sm-4 col-form-label">Software Version</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="software-version" placeholder="Software Version">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <label for="hardware-version" class="col-sm-4 col-form-label">Hardware Version</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="hardware-version" placeholder="Hard Version">
                                        </div>
                                    </div>

                                    <!-- button -->
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Footer Main Content Include  -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="copyright d-flex justify-content-end" id="dynamic-year"></p>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar").toggleClass("active");
                $("#content").toggleClass("active");
            });

            $(".more-button,.body-overlay").on("click", function () {
                $("#sidebar,.body-overlay").toggleClass("show-nav");
            });
        });

        const yearNow = () => {
            const date = new Date();
            const year = date.getFullYear();
            const yearBar = document.getElementById('dynamic-year');
            yearBar.innerHTML = `&copy ${year}&nbsp;<a target="_blank" href="https://www.sundaya.com/"> Sundaya Indonesia</a>`;
        }

        const timeNow = () => {
            const date = new Date();
            const time = date.toLocaleTimeString('en-US', {
                timeZone: 'Asia/Jakarta',
                hour12: false
            });
            const timeBar = document.getElementById('datetime-bar');
            timeBar.innerHTML = `<b>${time}</b>`;
        }

        yearNow();
        setInterval(timeNow, 1000);
    </script>
</body>

</html>