{% extends 'layout.html' %}
{% block breadcrumbs %} Config Value SCC | {{ scc_type.replace('_', ' ').upper() }} {% endblock breadcrumbs %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<!-- content row -->
<div class="row">
    <!--cut off / reconnect -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header-text titel-border">
                <h4 class="card-title"><i class="fas fa-plug"></i> Config Value Cut off / Reconnect</h4>
            </div>
            <form method="POST">
                <div class="card-content">
                    <input type="hidden" name="config-relay-form" value="config-relay-form">
                    <div class="row mb-3">
                        <label for="bts-reconnect" class="col-sm-4 col-form-label">BTS Reconnect</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="voltage_reconnect_bts" placeholder="Contoh: 4800" value={{config_relay.voltage_reconnect_bts}}>
                        </div>
                    </div>                                    
                    <div class="row mb-3">
                        <label for="site-id" class="col-sm-4 col-form-label">BTS Cutoff</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="voltage_cutoff_bts" placeholder="Contoh: 4700" value={{config_relay.voltage_cutoff_bts}}>
                        </div>
                    </div>
                    <hr style="border: 3px solid #f0f0f0;">
                    <div class="row mb-3">
                        <label for="site-id" class="col-sm-4 col-form-label">VSAT Reconnect</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="voltage_reconnect_vsat" placeholder="Contoh: 4700" value={{config_relay.voltage_reconnect_vsat}}>
                        </div>
                    </div>                                    
                    <div class="row mb-3">
                        <label for="site-id" class="col-sm-4 col-form-label">VSAT Cutoff</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="voltage_cutoff_vsat" placeholder="Contoh: 4600" value={{config_relay.voltage_cutoff_vsat}}>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- config scc -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header-text titel-border">
                <h4 class="card-title"><i class="fas fa-battery-full"></i> Config SCC</h4>
            </div>
            <form method="POST">
                <div class="card-content">
                    <input type="hidden" name="config-scc-form" value="config-scc-form">
                    {% for key, value in config_scc.items() %}
                    <div class="row mb-3">
                        <label for="{{key}}" class="col-sm-4 col-form-label">{{ key.replace('_', ' ').capitalize() }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="{{key}}" placeholder={{key}} value={{value}}>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- button -->
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
