{% extends 'layout.html' %}
{% block breadcrumbs %} SCC Monitoring - {{ scc_type.upper().replace('-', '  ') }} {% endblock breadcrumbs %}

{% block content %}
<!-- SCC Overview -->
<div class="row">
    {% for i in range(1, number_of_scc+1) %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text titel-border d-flex justify-content-between align-items-center">
                <h4 class="card-title left-text">
                    <a href="#" style="text-decoration: none;">
                        <i class="fas fa-solar-panel"></i>
                        SCC {{i}} | {{site_name}} | {{ip_address}}
                    </a>
                </h4>
                <h4 class="card-title text-right">
                    <a href="#" style="text-decoration: none;">
                        <i class="fas fa-heart"></i>
                        <span id="scc{{i}}-counter-heartbeat">Heartbeat: Getting Data...</span>
                    </a>
                </h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <!-- PV Voltage -->
                    <div class="col">
                        <div class="shadow card card-stats full-border">
                            <div class="card-content">
                                <p class="category left-text"><strong>PV{{i}} Voltage</strong></p>
                                <h5 id="pv{{i}}-voltage" class="card-title left-text">Getting Data...</h5>
                            </div>
                        </div>
                    </div>
                    
                    <!-- PV Current -->
                    <div class="col">
                        <div class="shadow card card-stats full-border">
                            <div class="card-content">
                                <p class="category left-text"><strong>PV{{i}} Current</strong></p>
                                <h5 id="pv{{i}}-current" class="card-title left-text">Getting Data...</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script> 
const sccOverview = async () => {
    try {
    const response = await fetch('/api/realtime/scc/', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    });

    if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
    }

    const data = await response.json();

    if (data.code == 500) {
        console.log(`Error: ${data.status}`);
        return;
    }

    {% for i in range(1, number_of_scc+1) %}
        // PV Voltage
        if (data.data.scc{{i}}.pv_voltage === -1){
            document.getElementById('pv{{i}}-voltage').innerHTML = `<mark class="status-inactive">${data.data.scc{{i}}.pv_voltage}</mark>`;
        } else {
            document.getElementById('pv{{i}}-voltage').innerHTML = `${data.data.scc{{i}}.pv_voltage} V`;
        }

        // PV Current
        if (data.data.scc{{i}}.pv_current === -1){
            document.getElementById('pv{{i}}-current').innerHTML = `<mark class="status-inactive">${data.data.scc{{i}}.pv_current}</mark>`;
        } else {
            document.getElementById('pv{{i}}-current').innerHTML = `${data.data.scc{{i}}.pv_current} A`;
        }

        // SCC Counter Heartbeat
        if (data.data.scc{{i}}.counter_heartbeat == -1) {
            document.getElementById('scc{{i}}-counter-heartbeat').innerHTML = `<mark class="status-inactive">Heartbeat:${data.data.scc{{i}}.counter_heartbeat}</mark>`;
        } else {
            document.getElementById('scc{{i}}-counter-heartbeat').innerHTML = `Heartbeat: ${data.data.scc{{i}}.counter_heartbeat}`;
        }

        
    {% endfor %}
    } catch {
        console.error(`Failed to fetch data: ${error.message}`);
    }
}

const sccAlarm = async () => {
    try {
        const response = await fetch('/api/realtime/scc-alarm/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();

        if (data.code == 500) {
            console.log(`Error: ${data.message}`);
            return;
        }

        {% if number_of_scc == 2 %}
        {% for i in range(1, number_of_scc+1) %}
            // battery status
            document.getElementById('scc{{i}}-batt-status').innerHTML = '';

            if (data.data.scc{{i}} == 'modbus error' || data.data.scc{{i}} == -1) {
                document.getElementById('scc{{i}}-batt-status').innerHTML = `<mark class="status-danger">${data.data.scc{{i}}}</mark>`;
            } else {
                for (const [key, value] of Object.entries(data.data.scc{{i}}.battery_status)) {
                    if (value != 'normal') {
                        document.getElementById('scc{{i}}-batt-status').innerHTML += `<mark class="status-danger">${key} : ${value}</mark><br>`;
                    } else {
                        document.getElementById('scc{{i}}-batt-status').innerHTML += `${key} : ${value}<br>`;
                    }
                }
            }

            // charging status
            document.getElementById('scc{{i}}-chg-status').innerHTML = '';

            if (data.data.scc{{i}} == 'modbus error' || data.data.scc{{i}} == -1) {
                document.getElementById('scc{{i}}-chg-status').innerHTML = `<mark class="status-danger">${data.data.scc{{i}}}</mark>`;
            } else {
                for (const [key, value] of Object.entries(data.data.scc{{i}}.charging_status)) {
                    if (value !== 'normal' && value !== 'running' && value !== 'no_charging' && value !== 'float' && value !== 'boost' && value !== 'equalization') {
                        document.getElementById('scc{{i}}-chg-status').innerHTML += `<mark class="status-danger">${key} : ${value}</mark><br>`;
                    } else {
                        document.getElementById('scc{{i}}-chg-status').innerHTML += `${key} : ${value}<br>`;
                    }
                }
            }

            // discharging status
            document.getElementById('scc{{i}}-dischg-status').innerHTML = '';

            if (data.data.scc{{i}} == 'modbus error' || data.data.scc{{i}} == -1) {
                document.getElementById('scc{{i}}-dischg-status').innerHTML = `<mark class="status-danger">${data.data.scc{{i}}}</mark>`;
            } else {
                for (const [key, value] of Object.entries(data.data.scc{{i}}.discharging_status)) {
                    if (value !== 'normal' && value !== 'running' && value !== 'light_load' && value !== 'moderate' && value !== 'rated') {
                        document.getElementById('scc{{i}}-dischg-status').innerHTML += `<mark class="status-danger">${key} : ${value}</mark><br>`;
                    } else {
                        document.getElementById('scc{{i}}-dischg-status').innerHTML += `${key} : ${value}<br>`;
                    }
                }
            }
        {% endfor %}
        {% endif %}

        {% if number_of_scc == 3 %}
        {% for i in range(1, number_of_scc+1) %}
            document.getElementById('scc{{i}}-alarm').innerHTML = '';

            for (const [key, value] of Object.entries(data.data.scc{{i}}.fault)) {
                if (value == -1 || value == 'modbus error' || value == 1) {
                    document.getElementById('scc{{i}}-alarm').innerHTML += `<mark class="status-danger">${key} : ${value}</mark><br>`;
                } else {
                    document.getElementById('scc{{i}}-alarm').innerHTML += `${key} : ${value}<br>`;
                }
            }
        {% endfor %}
        {% endif %}
    } catch (error) {
        console.error(`Failed to fetch data: ${error.message}`);
    }
}

setInterval(() => {
    sccOverview();
    sccAlarm();
}, 1000);
</script>
{% endblock js %}
