{% extends 'layout.html' %}
{% block breadcrumbs %} Site Information {% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <!--Site Location -->
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-text titel-border">
                <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Site Location</h4>
            </div>
            <div class="card-content">
                <div class="row mb-3">
                    <label for="site-id" class="col-sm-4 col-form-label">Site ID</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="site-id" placeholder="Site ID" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="site-name" class="col-sm-4 col-form-label">Site Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="site-name" placeholder="Site Name" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="address" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="address" placeholder="Address" disabled></textarea>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="ip-address-rasp1" class="col-sm-4 col-form-label">IP Address Rasp 1</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ip-address-rasp1" placeholder="IP Address" disabled>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="ip-address-rasp2" class="col-sm-4 col-form-label">IP Address Rasp 2</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ip-address-rasp2" placeholder="IP Address" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="net-mask" class="col-sm-4 col-form-label">Net Mask</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="net-mask" placeholder="Net Mask" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="gateway" class="col-sm-4 col-form-label">Gateway</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="gateway" placeholder="Gateway" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Device Info -->
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-text titel-border">
                <h4 class="card-title"><i class="fas fa-info-circle"></i> Device Info</h4>
        
            </div>
            <div class="card-content">
                <div class="row mb-3">
                    <label for="model" class="col-sm-4 col-form-label">Model</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="model" placeholder="Model" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="part-number" class="col-sm-4 col-form-label">Part Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="part-number" placeholder="Part Number" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="serial-number" class="col-sm-4 col-form-label">Serial Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="serial-number" placeholder="Serial Number" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="software-version" class="col-sm-4 col-form-label">Software Version</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="software-version" placeholder="Software Version" disabled>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label for="hardware-version" class="col-sm-4 col-form-label">Hardware Version</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="hardware-version" placeholder="Hard Version" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
